/* @override
	http://127.0.0.1:5500/css/style.css */
#outputHTML {
    width: 100%;
}

#timekeeper {
display: none;
}

#filterHolder {
    height: 2vh;
}
#videos {
    float: left;
    text-align: center;
    width: 98%;
    overflow-x: scroll;
    display: flex;
    padding: 1vw;
}

#videos div {
    order: 3;
    float: left;
    padding: .5em;
    height: 5%;
}

#videos video {
    height: 10vh;
}

.videoTitle {
    float: left;
}

#videos h2 {
    font-size: 1em;
    font-family: 'VT323';
    color: #00ff00;
    padding-left: .25rem;
    margin-left: .5rem;
    z-index: 9;
    position: relative;
    text-align: left;
    top: 2.25rem;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
}

#videos h2, #videoplayermain h2 {
    background: rgba(0, 0, 0, .3)
}

#videoplayermain {
    text-align: center;
    height: 60vh;
}
#videoplayermain video {
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    }


#videoplayermain h2 {
    position: absolute;
    color: #00ff00;
    font-family: 'VT323';
    font-size: 3vw;
    padding: 1vw !important;
    float: none;
    z-index: 10;
    bottom: 1;
}


#radio {
    height: 20vw;
    width: 40%;
    float: left;
    background: url('../img/radio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#radio #screen {
    font-family: 'VT323';
    font-size: 1em;
    padding: 10% 25%;
}

#radio {
    display: none;
}

#audios {
    height: 20%;
    display: block;
    width: 100%;
}

#audios audio {
    width: 100%;
}

#audios * h2 {
    font-size: 1rem !important;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee p {
    display: inline-block;
    padding:0;
    margin:0;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

main {
    height: 94vh;
}

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 20;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

#aol {
    z-index: 99;
}

#htmls {
    height: 68vh;
    width: 98%;
    overflow-y: scroll;
    padding: 1vw;
}

#htmls div {
    overflow: hidden;
    clear: both;
}


.small,
small {
    font-size: 20%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

div {
    scrollbar-width: think;
    scrollbar-color: gray black;
}

/* Works on Chrome/Edge/Safari */
div::-webkit-scrollbar {
    width: 20px;
}

div::-webkit-scrollbar-track {
    background: black;
}

div::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 0;
    border: 20px solid white;
}
a [data-readmore-toggle] {
    display: block;
    width: 100%;
}
*[data-readmore] {
}
