#timekeeper,
#outputHTML {
    width: 100%;
}

#videos {
    text-align: center;
    width: 100%;
    float: left;
}

#videos div {
    order: 3;
    float: left;
    padding: 1em;
}

#videos video {
    width: auto;
    width: 25wh;
    height: 10vw;
    padding: 5em;
}

.videoTitle {
    float: left;
}

#videos h2 {
    display: block;
    position: absolute;
    color: white;
    font-size: 1em;
    margin-left: 1%;
    font-family: 'VT323';
    color: #00ff00;
    background: rgba(0, 0, 0, .8)
}

video,
h2 {
    padding: 0 !important;
}

h2 {
    background: rgba(0, 0, 0, .3)
}

#videoplayermain {
    order: 1;
    height: 0;
    background: url("../img/tv.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    width: 80vw;
    height: 50vw;
    float: left;
    width: 60%;
}

#videoplayermain h2 {
    position: absolute;
    align-content: left;
    text-align: left;
    left: 8%;
    top: 8%;
    color: #00ff00;
    font-family: 'VT323';
    font-size: 3vw;
}

#videoplayermain video {
    margin-top: 6%;
    width: 80%;
}

#radio {
    height: 20vw;
    width: 40%;
    float: left;
    background: url('../img/radio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#radio #screen {
    font-family: 'VT323';
    font-size: 2vw;
    padding: 10% 25%;
}