@use '../../ControlPanels/AppearanceManager/styles/appearance';
.classicyTabContainer {}

.classicyTabsHolder {
  border: var(--window-border-size) solid black;
}

.classicyButtonsHolder {
  display: flex;
  flex-direction: row;
  gap: calc(var(--window-padding-size) * 2);
  margin-bottom: calc(var(--window-border-size) * -1);
  margin-left: calc(var(--window-control-size) * 1);
}

.classicyTabButton {
  border: none;
  background-color: var(--color-system-04);
  font-family: var(--ui-font);
  font-size: var(--ui-font-size);
  mask-image: url("/img/ui/tab.svg");
  mask-repeat: no-repeat;
  mask-size: 97%;
  mask-position: center bottom;
  background-size: 100%;
  background-position: left bottom;
  user-select: none;
  padding: 0 2em;
}

.classicyTabButtonWrapper {
  background-color: var(--color-system-07);
  mask-image: url("/img/ui/tab.svg");
  mask-repeat: no-repeat;
  mask-position: center bottom;
  mask-size: cover;
  border-top: var(--window-border-size) solid;
}

.classicyTabButtonActive {
  background-color: var(--color-system-02);
  border-bottom: none !important;
}

.classicyTabHiddenContent {
  padding: var(--window-padding-size);
  display: none;
}

.classicyTabActiveContent {
  padding: var(--window-padding-size);
  display: block;
  background-color: var(--color-system-02);
}