#tv {
  height: 65%;
}

#tv .inner {
  overflow: hidden;
}
#videos {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 6.25rem;
  position: relative;
}

#videos div {
  position: relative;
  display: inline-block;
  max-height: 6em;
  max-width: 8em;
}

#videos video {
  height: 100%;
  width: 100%;
}

#videos div h2 {
  color: #0f0;
  font: 1em "VT323";
  position: absolute;
  width: 2em;
  float: left;
  left: 0;
  margin: 0.5em;
}

.videoTitle {
  float: left;
}

#videos h2,
#videoplayermain h2 {
  background: rgba(0, 0, 0, 0.3);
}

#videoPlayerMainHolder {
  background: #000;
  height: 75%;
  background: url("img/static.gif");
  min-height: 35vh;
}

#videoplayermain {
  background: url("img/static.gif");
  text-align: center;
  height: 100%;
}

#videoplayermain div.highlight {
  height: 100%;
}

#videoplayermain * video {
  text-align: center;
  background: black;
  width: 100%;
  height: 100%;
}

#videoplayermain {
  background: #000;
  text-align: center;
}

#videoplayermain h2 {
  color: #0f0;
  font: 3vw "VT323";
  padding: 0 1vw !important;
  margin-left: 3%;
  position: absolute;
}

#channel-guide-header {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0;
  font-size: 1rem;
}

#channel-guide {
  padding-top: 1em;
  padding-right: 2em;
  margin-right: 0.5em;
  background: none;
  bottom: 2em;
  position: absolute;
  width: 100%;
  background: #ddd;
}

#videos-wrapper {
  position: relative;
  bottom: 0;
}

#audios {
  display: flex;
  flex-flow: wrap;
  height: 20vh !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

#audios div {
  max-width: 13rem;
  max-height: 6rem;
}

#htmls {
  max-height: 85vh;
  height: 98% !important;
}

#htmls h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

#htmls div > button {
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}

#audios > div {
  border: 1px solid #000;
  margin: 0.25rem;
  padding: 0.25rem;
}

#audios * .plyr {
  min-width: 0;
}

.icon-titlebar {
  width: 2rem;
  margin-top: 5px;
}

#audios * .plyr__controls {
  justify-content: space-between;
  padding: 0;
  --plyr-audio-control-background-hover: #000;
  --plyr-audio-control-color: #000;
  --plyr-audio-controls-background: #ddd;
}

#audios .plyr__controls .plyr__controls__item:first-child {
  margin: 0;
}

#audios * h2 {
  font-size: 0.5rem !important;
  margin: 0;
  padding: 0;
}

#modalModal,
.modal {
  padding: 0 !important;
  margin: 0 !important;
  z-index: 999999;
  -webkit-border-radius: 0;
  border-radius: 0;
  max-width: 56rem;
}

.blocker {
  height:100%;
  width:100%;
  background:rgba(0,0,0,1) !important;
  z-index: 9999999999 !important;
}

#hider {
  z-index: 3 !important;
}
#modal-image {
  max-width: 100%;
}

#news {
  text-align: left !important;
  top: 15%;
}

#audio div.inner,
#news div.inner {
  padding: 0;
  padding-left: 0.5rem;
}

#htmls div {
  overflow: hidden;
}
#news,
#audio {
  left: 60%;
  width: 35%;
}

#timelineofevents {
  left: 35%;
  width: 30%;
}

#events {
  text-align: left;
}

#events ul li {
  margin-bottom: 2em;
}

#audio {
  top: 70%;
  left: 5%;
  width: 45%;
}

#settings,
#controls {
  width: auto;
  left: 75%;
}

.htmlsimage {
  margin: 0 1em 0 3em;
  float: right;
}

.videotitle {
  z-index: 999;
}

.plyr--video {
  background: none !important;
}

#videos div .plyr__controls {
  display: none;
}

.icon h2 {
  text-shadow: 2px 2px 0 #aaa, -2px -2px 0 #888;
}

.short-time-input {
  width: 3em;
}

.ui-resizable-handle {
  height: 21px;
  width: 21px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("img/corner.png");
}

div.content.resizable .inner {
  overflow-y: scroll;
  overflow-x: hidden;
}

a.time-marker {
  font-size: large;
  display: block;
  float: left;
  margin-right: 1em;
}

::-webkit-scrollbar {
  margin-bottom: 100px; 
}

.ui-draggable-dragging, .ui-resizable-resizing {
  border: 2px black dotted !important;
  transform:scale(1);
  background-color: rgba(25, 25, 25, 0) !important;
}
.ui-draggable-dragging *, .ui-resizable-resizing * {
  opacity: 0;
}

.ui-draggable-dragging.content, .ui-resizable-resizing.content {
  box-shadow: none !important;
}