args==0.1.0
asgiref==3.2.3
astroid==2.3.3
attrs==19.3.0
Automat==0.8.0
autopep8==1.5.2
awscli==1.16.264
backports.csv==1.0.7
beautifulsoup4==4.8.2
botocore==1.13.0
bs4==0.0.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
clint==0.5.1
colorama==0.4.1
constantly==15.1.0
contextlib2==0.5.5
cryptography==3.2
cssselect==1.1.0
defusedxml==0.6.0
diff-match-patch==20181111
Django==3.0.7
django-admin-rangefilter==0.5.4
django-cors-headers==3.2.1
django-import-export==2.0.2
django-mysql==3.6.0
djangorestframework==3.11.0
docopt==0.6.2
docutils==0.15.2
et-xmlfile==1.0.1
Flask==1.1.1
Flask-API==2.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
internetarchive==1.9.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.1
jmespath==0.9.4
jsonpatch==1.24
jsonpointer==2.0
lazy-object-proxy==1.4.3
lxml==4.4.2
MarkupPy==1.14
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==1.4.6
odfpy==1.4.1
openpyxl==3.0.3
parsel==1.5.2
Pillow==7.1.1
Protego==0.1.16
psutil==5.7.0
pyasn1==0.4.7
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==2.0.0
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
PyMySQL==0.9.3
pyOpenSSL==19.1.0
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
queuelib==1.5.0
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.1
schema==0.7.1
Scrapy==1.8.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.9.5
sqlparse==0.3.0
tablib==1.1.0
Twisted>=20.3.0
typed-ast==1.4.0
urllib3==1.25.6
w3lib==1.21.0
Werkzeug==1.0.0
wrapt==1.11.2
xlrd==1.2.0
xlwt==1.3.0
zope.interface==4.7.1
