DJANGO_SECRET_KEY = 'SECRETKEY'
DJANGO_DEBUG = True
DJANGO_ALLOWED_HOSTS = ["*"]

DJANGO_DB_LOCAL_ENGINE = "django.db.backends.mysql"
DJANGO_DB_LOCAL_HOST = "localhost"
DJANGO_DB_LOCAL_PORT = 3307
DJANGO_DB_LOCAL_USER = "rt911"
DJANGO_DB_LOCAL_PASSWORD = "rt911"
DJANGO_DB_LOCAL_NAME = "rt911"

DJANGO_DB_CLOUD_ENGINE = "django.db.backends.mysql"
DJANGO_DB_CLOUD_HOST = "/cloudsql/GOOGLE-PROJECT-NAME:GOOGLE-DB-REGION:GOOGLE-DB-NAME"
DJANGO_DB_CLOUD_USER = "rt911"
DJANGO_DB_CLOUD_PASSWORD = "rt911"
DJANGO_DB_CLOUD_NAME = "rt911"

GOOGLE_CLOUD_PROJECT = "project-name"