@use 'classicy/scss/appearance';

.epgChannel {
  font-family: var(--body-font), serif;
  font-size: calc(var(--ui-font-size) * 1);
  display: flex;
  align-items: center;
  height: calc(var(--window-control-size) * 3);
  @include appearance.platinumWindowUndepressable;
  padding: var(--window-padding-size);
  border: 0;
  border-radius: 0 !important;
}

.epgEntry {
  font-family: var(--body-font), serif;
  font-size: calc(var(--ui-font-size) * 0.85);
  display: flex;
  align-items: center;
  @include appearance.platinumWindowUndepressable;
  flex-direction: row;
  height: calc(var(--window-control-size) * 3);
  padding: var(--window-padding-size);
  border: 0 !important;
  border-radius: 0 !important;

  & > * {
    z-index: 100;
  }
}

.epgEntryIcon {
  width: calc(var(--window-control-size) * 1.25);
  margin-left: calc(var(--window-control-size) / 3);
}

.epgChannelIcon {
  width: calc(var(--window-control-size) * 1.825);
  margin-right: calc(var(--window-padding-size) * 0.75);
}

.epgEntryTitle {
  font-size: calc(var(--ui-font-size) * 1);
  font-weight: bold;
}

.epgEntryDescription {
  font-size: calc(var(--ui-font-size) * 0.75);
  font-weight: normal;
  overflow: clip;
  width: auto;
  text-overflow: ellipsis;
}

.epgEntryIcons {
  overflow: hidden;
}

.epgEntry.selected {
  @include appearance.platinumWindowDepressed;
  color: var(--color-white) !important;
  background-color: var(--color-theme-04) !important;
}

.epgHeaderTime {
  font-family: var(--body-font), sans-serif;
  font-size: calc(var(--ui-font-size) * 0.85);
  position: relative;
  z-index: 100;
  width: 100%;
  padding-top: calc(var(--window-border-size) * 2);

  border-left: calc(var(--window-border-size) * 2) solid var(--color-theme-05);

}

.epgHeaderTimeInner {
  z-index: 10;
  padding-left: 0.5em;
}

@property --slide-var {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}


@keyframes stripeSlide {
  from {
    --slide-var: 0px;
  }
  to {
    --slide-var: calc(var(--window-control-size) * 2);
  }
}

.epgGridSetup {
  display: grid;
  width: 100%;
}

.epgGridAnimatedBackground {
  animation: stripeSlide 3s linear infinite;
  animation-play-state: running;
  background-color: var(--color-system-03);
  background-repeat: repeat;
  background-position: var(--slide-var) center;
  background-size: calc(var(--window-control-size) * 2);
  background-blend-mode: lighten;
}

.epgIndicatorHolder {
  position: absolute;
  z-index: 10;
  height: calc(100% - var(--window-border-size) * 3);
  justify-items: center;
}

.epgIndicator {
  z-index: 1;
  top: 0;
  right: 0;
  width: 50%;
  opacity: .35;
  border-right: 1px solid var(--color-theme-03);
  border-left: 1px solid var(--color-theme-05);
  background: linear-gradient(0.25turn, var(--color-theme-05), var(--color-theme-03));
}

.epgIndicatorCenter {
  width: 1px;
  height: 100%;
  margin: 0 auto;
  background-color: var(--color-theme-06);
}

.epgGridSetupBorder {
  @include appearance.platinumWindowControlBoxBorder;
  width: calc(100% - var(--window-border-size) * 2);
}

.epgHolder {
  position: relative;
  width: calc(100% - var(--window-border-size) * 2);
}