.classicyDesktopMenuTime {
  float: right;
  margin: 0 var(--window-control-size);

  &:hover {
    color: var(--color-black) !important;
    background: transparent !important;
  }
}

.textBlinker {
  animation: blinker 2s steps(1, end) infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
