.classicyDesktopMenuWidgetSound {
  float: right;
  height: 100%;
  margin: 0;
  padding-right: 0;
  padding-left: 0;

  &:hover {
    color: var(--color-black) !important;
    background: transparent !important;
  }

  img {
    width: 100%;
  }
}
