*, :before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

nav {
  background: #000;
  margin: 0 0 1em;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 9900;
}

ul.menu {
  display: none;
  float: left;
  margin-left: -0.5rem;
  padding: 0;
  position: absolute;
}

.clearfix:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.close-box.control-box {
  left: 4px;
}

.content .command_button {
  height: 22px;
}

.content .inner {
  max-height: 97%;
  margin: 2px 4px 4px;
  padding: 6px;
}

.content ul {
  margin: 2px 0 1.5rem;
  padding: 0 0 0 2rem;
}

.content {
  position: absolute;
  width: 50%;
  overflow: hidden;
}

.control-box {
  padding: 1px;
  position: absolute;
  top: 3px;
  z-index: 100;
}

.control-box-inner {
  display: block;
  height: 1rem;
  width: 1rem;
}

.footer {
  margin: 2rem auto 0;
}

.hidden {
  display: none !important;
}

.icon img {
  display: block;
  height: 48px;
  margin: auto;
  width: 48px;
}

.icon {
  display: block;
  position: relative;
}

.icon:not(:first-child, :last-child) {
  margin-left: 10em;
}

.title ::after {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.5rem;
}

.title.noright ::after {
  width: .5rem;
}

.title.noleft ::before {
  width: .5rem;
}

.title.halfright ::after {
  width: 1.75rem;
}

.title ::before {
  float: left;
  margin: 0;
  width: 2rem;
}

.title ::before, .title ::after {
  content: "\00a0";
  display: block;
}

.title span {
  padding: 0 1rem;
  margin-left: -2rem;
}

.title {
  margin: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0000);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.windowshade-box-inner {
  height: 3px;
  margin-top: 3px;
}

.windowshade-box.control-box {
  right: 4px;
}

.zoom-box-inner {
  height: 6px;
  width: 7px;
}

.zoom-box.control-box {
  right: 20px;
}

#icon-holder .icon {
  clear: both;
  float: right;
  margin: 1rem 0;
  position: relative;
  text-align: center;
  top: 1em;
  width: 10em;
}

#icon-holder {
  display: block;
  float: right;
}

#macoslogo img {
  height: 1.25rem;
  width: 1.25rem;
}

#nav-list #time, #nav-list #macoslogo {
  float: right;
}

#nav-list li {
  float: left;
  height: 1.75rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem 0;
}

#nav-list li:hover ul.menu li img {
  margin-left: -1.25em;
  margin-right: 0.25em;
}

#nav-list li:hover ul.menu li {
  clear: both;
  padding: 0.25em 1em 1.5em 2em;
  width: 100%;
}

#nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#nav-wrapper {
  background-color: #ddd;
  border-radius: 1em 1em 0 0;
  box-shadow: inset 1px 1px 0 0 #888, inset -1px -1px 0 0 #fff;
  display: inline-block;
  height: 100%;
  padding: 0 1rem;
  width: 100%;
}

.ui-resizable-handle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 21px;
  height: 21px;
}

div.content.resizable .inner {
  overflow-x: hidden;
  overflow-y: scroll;
}
