#tv {
    left: 1%;
    width: 65%;
}

#tv .inner {
    overflow: hidden;
}

#videos {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    height: 6em;
}

#videos div {
    position: relative;
    display: inline-block;
    max-width: 8em;
    max-height: 6em;
}

#videos video {
    width: 100%;
    height: 100%;
}

#videos div h2 {
    font: 1em "VT323";
    position: absolute;
    left: 0;
    float: left;
    width: 2em;
    margin: 0.5em;
    color: #0f0;
}

.videoTitle {
    float: left;
}

#videos h2, #videoplayermain h2 {
    background: rgba(0, 0, 0, 0.3);
}

#videoPlayerMainHolder {
    height: 85%;
    min-height: 35vh;
    background: #000;
    background: url("../../img/static.gif");
}

#videoplayermain {
    height: 100%;
    text-align: center;
    background: url("../../img/static.gif");
}

#videoplayermain div.highlight {
    height: 100%;
}

#videoplayermain * video {
    width: 100%;
    height: 100%;
    text-align: center;
    background: black;
}

#videoplayermain {
    text-align: center;
    background: #000;
}

#videoplayermain h2 {
    font: 3vw "VT323";
    position: absolute;
    margin-left: 3%;
    padding: 0 1vw !important;
    color: #0f0;
}

#channel-guide-header {
    font-size: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0;
}

#channel-guide {
    bottom: 1em;
    padding-right: 2em;
    width: 97%;
    margin-bottom: 1em;
}

#videos-wrapper {
    position: relative;
    bottom: 0;
}

#audios {
    display: flex;
    flex-flow: wrap;
}

#audios div {
    max-width: 16rem;
    max-height: 6rem;
}

#htmls {
    height: 98% !important;
    max-height: 85vh;
}

#htmls h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

#htmls div>button {
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
}

#audios>div {
    margin: 0.25rem;
    padding: 0.25rem;
    border: 1px solid #000;
}

#audios * .plyr {
    min-width: 0;
}

.icon-titlebar {
    width: 2rem;
    margin-top: 5px;
}

.settingsControl {
    clear: both;
    display: table;
    width: 100%;
}

.settingsIcon {
    width: 24px;
    height: 24px;
    margin-right: 1em;
    float: left;
}

.setting {
    display: block;
    width: 80%;
    float: left;
}

#audios * .plyr__controls {
    padding: 0;
    justify-content: space-between;
    --plyr-audio-control-background-hover: #000;
    --plyr-audio-control-color: #000;
    --plyr-audio-controls-background: #ddd;
}

#audios .plyr__controls .plyr__controls__item:first-child {
    margin: 0;
}

#audios * h2 {
    font-size: 0.5rem !important;
    margin: 0;
    padding: 0;
}

.modal {
    z-index: 999999;
    max-width: 56rem;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: relative !important;
}

.blocker {
    z-index: 9999999999 !important;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1) !important;
}

#hider {
    z-index: 3 !important;
}

#modal-image {
    max-width: 100%;
}

#news {
    top: 15%;
    text-align: left !important;
    width: 25%;
    left: 70%;
    max-height: 80%;
}

#audio div.inner, #news div.inner {
    padding: 0;
    padding-left: 0.5rem;
}

#htmls div {
    overflow: hidden;
}

#timeline {
    left: 70%;
    width: 23%;
    max-height: 70%;
    margin-top: 10%;
}

#events {
    text-align: left;
    left: 70%;
    width: auto;
    min-width: 20%;
}

#events ul li {
    margin-bottom: 2em;
}

#audio {
    top: 85%;
    left: 1%;
    width: 65%;
}

#controls {
    left: 70%;
    width: auto;
    min-width: 4em;
}

#settings {
    left: 40%;
    top: 40%;
    width: auto;
    min-width: 8em;
}

.htmlsimage {
    float: right;
    margin: 0 1em 0 3em;
    max-width: 10em;}

.videotitle {
    z-index: 999;
}

.plyr--video {
    background: none !important;
}

#videos div .plyr__controls {
    display: none;
}

.icon h2 {
    text-shadow: 2px 2px 0 #aaa, -2px -2px 0 #888;
}

.short-time-input {
    width: 3em;
}

.ui-resizable-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 21px;
    height: 21px;
    background: url("../../img/corner.png");
}

div.content.resizable .inner {
    overflow-x: hidden;
    overflow-y: scroll;
}

a.time-marker {
    font-size: large;
    display: block;
    float: left;
    margin-right: 1em;
}

::-webkit-scrollbar {
    margin-bottom: 100px;
}

.ui-draggable-dragging, .ui-resizable-resizing {
    transform: scale(1);
    border: 2px black dotted !important;
    background-color: rgba(25, 25, 25, 0) !important;
}

.ui-draggable-dragging *, .ui-resizable-resizing * {
    opacity: 0;
}

.ui-draggable-dragging.content, .ui-resizable-resizing.content {
    box-shadow: none !important;
}

.plyr--loading.plyr--video {
    background-image: url(../../img/static.gif) !important;
}

.plyr--loading.plyr--video * {
    opacity: 0;
}