html,
body,
div {
	overscroll-behavior: none;
}

html, body, #root {
	overflow: hidden;
}

body {
	margin: 1em !important;
	height: calc(100vh - 2em) !important;
	background-color: black;
}

#root {
	width: 100%;
	height: 100%;
	overflow: hidden;
}