@use 'classicy/scss/appearance';

.browser {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.browserBar {
    background-color: var(--color-system-03);
}
.browserFavoritesBar {
  @include appearance.platinumWindowControlBoxBorder;

  background-color: var(--color-system-01)  !important;

  border-radius: 0 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--window-padding-size);
}
.browserToolbar {
  display: flex;
  flex-direction: row;
}

.browserToolbarInner {
  min-width: 0;
  flex: 1;
}

.browserToolbarControls {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.browserNavButtons {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.browserNavButtonContent {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.browserNavButtonContentDisabled {
  opacity: 0.4;
}

.browserHoverSwap .browserIconHover {
  display: none;
}

.browserHoverSwap:hover:not(.browserNavButtonContentDisabled) .browserIconDefault {
  display: none;
}

.browserHoverSwap:hover:not(.browserNavButtonContentDisabled) .browserIconHover {
  display: inline;
}

.browserAddressBar {
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 4px;
  align-items: center;
}

.browserLoaderIcon {
  aspect-ratio: 1/1;
  height: 38px;
  box-shadow:
    inset calc(var(--window-border-size) * -1) calc(var(--window-border-size) * -1) var(--color-system-03),
    inset calc(var(--window-border-size) * 1) calc(var(--window-border-size) * 1) var(--color-system-05),
    calc(var(--window-border-size) * 1) calc(var(--window-border-size) * 1) var(--color-system-06);
}

.browserContents {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 10%;
  height: 100%;
}

.browserPage {
  flex: 1;
  overflow: auto;
  background-color: white;
}

.browserMenuItemChecked > p::before {
  content: '\2713';
  margin-right: 4px;
  font-family: var(--ui-font), sans-serif;
}

.browserSettings {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  padding: 0.5em;
  background-color: var(--color-system-02);
}

.browserSettingsRow {
  align-items: center;
  gap: 0.5em;
}

.browserSettingsProtocol {
  gap: 0.25em;
}

.browserSettingsButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5em;
  padding-top: 0.5em;
}

.browserStatusBar {
  height: calc(var(--window-control-size) + var(--window-border-size));
  background-color: var(--color-system-04);
  border-top: 1px solid var(--color-system-07);
  font-family: var(--ui-font);
  font-size: calc(var(--ui-font-size)/1.25);
  display: flex;
  align-items: center;
}
