.classicyTextEditor {
  overflow: hidden;
  width: calc(100% - var(--window-padding-size));
  height: calc(100% - var(--window-padding-size));
  margin: 0;
  padding: calc(var(--window-padding-size));
  resize: none;
  border: var(--window-border-size) solid black;
  box-shadow: calc(var(--window-border-size) * -1) calc(var(--window-border-size) * -1) 0 0 var(--color-system-05),
  calc(var(--window-border-size) * 1) calc(var(--window-border-size) * 1) 0 0 var(--color-system-04);

  &:focus-visible {
    border-radius: 2pt;
    outline: 0 0 0 calc(var(--window-border-size) * 2) var(--color-outline) !important;
    box-shadow: 0 0 0 calc(var(--window-border-size) * 2) var(--color-theme-04),
    0 0 var(--window-border-size) calc(var(--window-border-size) * 2) var(--color-theme-04);
  }
}
