.appearanceManagerAbout {
  font-family: var(--header-font);
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-items: center;
}

.appearanceManagerControlGroupHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
}
